# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data, model outputs, logs
/Data/tcga-svs
# /outputs/
# /models/

# Temporary or system files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Environment files (optional: keep if you're using versioning for them)
.env

# VS Code settings (optional)
.vscode/

# Mac/Linux hidden files
*.swp